.container {
  display: grid;
  grid-template-areas: 
  "header header header"
  "nav content aside"
  "footer footer footer";

  grid-template-columns: 90px 1fr 90px;
  grid-template-rows: auto 1fr auto;
  
  background-color: navy;
  height: 100vh;
  
}

header {
  grid-area: header;
  text-align: center;
  background-color: goldenrod;
}
nav {
  grid-area: nav;
  text-align: center;
  background-color: maroon

}
content {
  grid-area: main;
  text-align: center;
  background-color: royalblue;
  justify-content: center;
}

aside {
  grid-area: aside;
  text-align: center;
  background-color: maroon;
}

footer{
  grid-area: footer;
  text-align: center;
  background-color: goldenrod;
}

.main-inner-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  
  
  display: grid;
  grid-template-columns: 6rem 6rem 6rem 1fr;
  background-color: green;
}